{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <img src="{{ url_for('static', filename='images/1.png')}}" width="100%" height="320">

    	<h1 align="center">Authors  <a href=" {{ url_for('add_author') }}" class="btn btn-outline-secondary brn-sm" >Add Authors</a></h1>
	<br/><br/>
    <table class="table table-hover table-bordered table-striped">

        <div class="shadow p-3 mb-5 bg-body rounded">
            <form  method="POST">

                {{ form.hidden_tag() }}

                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                <br/>

                {{ form.birth_date.label(class="form-label") }}
                {{ form.birth_date(class="form-control") }}
                <br/>


                {{ form.submit(class="btn btn-secondary") }}

            </form>

        </div>




    {% for auth in authors %}
        <tr>
        <td>
       <a href="#">{{ auth.name }} </a> - {{ auth.birth_date }}
        </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}