{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <img src="{{ url_for('static', filename='images/1.png')}}" width="100%" height="320">

    	<h1 align="center">Genres  <a href=" {{ url_for('add_genre') }}" class="btn btn-outline-secondary brn-sm" >Add Genre</a></h1>

    <table class="table table-hover table-bordered table-striped">

    {% for genre in genres %}
        <tr>
        <td>
       <a href="#">{{ genre.name }} </a> - {{ genre.description }}
            <a href="#"
			   class="btn btn-outline-secondary brn-sm">Edit</a>
            <a href="#"
			   class="btn btn-outline-danger brn-sm">Delete</a>
        </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}